@use "styles/abstracts/variables/colors";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hamburgerMenu {
  background: radial-gradient(circle at 100%, #333, rgb(0, 0, 0) 75%);
  background-size: 150% 150%;
  animation: gradient 5s ease infinite;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  transform: translateY(-100%);
  transition: all 0.4s ease-out;

  &.open {
    transform: translateY(0%);
  }

  &__container {
    display: grid;
    grid-template:
      ". " 20fr
      "navigation"
      ". " 30fr
      "socials "
      ". " 10fr;
  }

  &__list {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__link {
    font-size: 36px;
  }

  &__socials {
    grid-area: socials;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 700;
  }
}
