@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.workCard {
  position: relative;
  min-width: 86vw;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  scroll-snap-align: start;
  border: 1px solid colors.$darkGray;
  box-sizing: border-box;

  @include mixins.breakpoint(md) {
    min-width: 100%;

    &:hover {
      .workCard__label {
        transform: translateY(0);
      }

      .workCard__picture {
        filter: grayscale(0);
      }
    }
  }

  &__picture {
    height: 100%;
    object-fit: cover;
    display: block;

    @include mixins.breakpoint(md) {
      filter: grayscale(100%);
      transition: filter 0.5s ease;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: grid;
    grid-template:
      "title  " auto
      ".      " 1rem
      "list   " auto;

    width: 100%;
    padding: 1.5rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 15px;
    font-size: 14px;
    transition: all 0.5s ease-out;
    transform: translateY(100%);
  }

  &__title {
    font-size: calc(12px + 6 * ((100vw - 20px) / 1000));
    font-weight: 700;
    color: colors.$white;
    grid-area: title;
  }

  &__list {
    grid-area: list;
    display: flex;
    gap: 0.5rem;
    flex-flow: row wrap;
    // display: grid;
    // grid-gap: 0.2rem;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(2, 1fr);
  }

  &__listItem {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: colors.$brightGreen;
    color: colors.$black;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
  }
}
