@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.work {
  width: 100%;
  border-top: 1px solid colors.$darkGray;
  border-bottom: 1px solid colors.$darkGray;

  background: radial-gradient(
    circle at 60% 50%,
    rgba(2, 199, 133, 0.3),
    rgb(0, 0, 0) 30%
  );
  background-size: 160% 150%;
  animation: gradient 10s ease infinite;

  &__synopsis {
    margin: 2rem 0;
    color: colors.$gray;
    font-size: calc(12px + 6 * ((100vw - 20px) / 1000));
  }

  &__carousel {
    --carousel-padding: 1.5rem;

    display: flex;
    overflow-x: scroll;
    overflow-y: none;
    padding: 0 var(--carousel-padding);
    scroll-padding: var(--carousel-padding);
    scroll-snap-type: x mandatory;
    gap: 1rem;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mixins.breakpoint(md) {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: var(--carousel-padding);
      overflow-x: unset;
      overflow-y: hidden;
    }
  }

  &__carouselContainer {
    margin-left: calc(-1 * var(--container-padding));
    margin-right: calc(-1 * var(--container-padding));
    overflow: auto;

    @include mixins.breakpoint(md) {
      margin: 0;
    }
  }
}
