@use "styles/abstracts/mixins";
@use "styles/abstracts/variables";
@use "styles/abstracts/variables/colors";

.button {
  color: colors.$white;
  background-color: colors.$black;
  border: 1px solid colors.$darkGray;
  border-radius: 40px;
  transition: border 0.5s ease;
  padding: 1rem 2rem;
  width: 100%;

  @include mixins.breakpoint(md) {
    font-size: calc(10px + 6 * ((100vw - 20px) / 1280));
    width: auto;

    &:hover {
      border: 1px solid colors.$gray;
    }
  }
}
