@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.me {
  --border-radius: 20px;
  width: 100%;
  border-bottom: 1px solid colors.$darkGray;
  background: radial-gradient(circle at 0% 100%, #333, rgb(0, 0, 0) 50%);
  background-size: 160% 160%;
  animation: gradient 10s ease infinite;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__infoRow {
    background-color: colors.$darkGray;
    border-radius: var(--border-radius);
    padding: 1rem;
    grid-gap: 2rem;

    @include mixins.breakpoint(md) {
      padding: 6rem 0;
    }
  }

  &__heading {
    grid-area: heading;
  }

  &__text {
    font-size: calc(14px + 6 * ((100vw - 20px) / 1000));
    grid-area: text;

    @include mixins.breakpoint(md) {
      font-size: calc(10px + 6 * ((100vw - 20px) / 1000));
    }
  }

  &__info {
    display: grid;
    grid-template:
      "heading  " 0.75fr
      "text     " 1fr
      "socials  " 0.5fr;

    @include mixins.breakpoint(md) {
      grid-template:
        "heading  " 1fr
        "text     " 1fr
        ".        " 2rem
        "socials  " 1.5fr;
    }
  }

  &__pictureColumn {
    position: relative;
  }

  &__picture {
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 100%;
    display: block;
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.5));
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__socials {
    display: flex;
    gap: 1.5rem;
    font-weight: 700;
    grid-area: socials;
    align-self: flex-end;

    @include mixins.breakpoint(md) {
    }
  }

  &__socialItem {
    transition: color 0.5s ease;
    &:hover {
      color: colors.$white;
    }
  }

  &__skillTitle {
    margin: 0 0 3rem 0;
  }

  &__skillRow {
    background-color: colors.$black;
    border-radius: var(--border-radius);
    padding: 2rem 1rem;

    @include mixins.breakpoint(md) {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;
      padding: 6rem 0;
    }
  }

  &__skillsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;

    @include mixins.breakpoint(md) {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem;
    }
  }

  &__skillWrapper {
    display: flex;
    align-items: center;
  }

  &__icons {
    display: flex;
  }
}
