@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 0% 20%, #333, rgb(0, 0, 0) 60%);
  background-size: 170% 170%;
  animation: gradient 10s ease infinite;

  @include mixins.breakpoint(md) {
    background: radial-gradient(circle at 0% 70%, #333, rgb(0, 0, 0) 40%);
    background-size: 180% 180%;
    animation: gradient 15s ease infinite;
  }

  &__text {
    align-self: center;
    order: 1;
  }

  &__title {
    font-size: calc(44px + 6 * ((100vw - 20px) / 1000));
    position: relative;
    z-index: 1;
    line-height: 1;
    color: colors.$white;
    margin: 1rem 0;
    transition: all 0.5s ease;

    background: -webkit-linear-gradient(
      300deg,
      colors.$brightGreen 10%,
      colors.$darkGray
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mixins.breakpoint(md) {
      font-size: calc(60px + 6 * ((100vw - 20px) / 1000));
      line-height: 1.2;
      margin: 0;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: calc(30px + 6 * ((100vw - 20px) / 1000));
    color: colors.$lightGray;
    margin: 0 0 2rem 0;

    @include mixins.breakpoint(md) {
      font-size: calc(40px + 6 * ((100vw - 20px) / 1000));
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    @include mixins.breakpoint(md) {
      flex-direction: row;
    }
  }

  &__image {
    align-self: center;
    justify-self: flex-end;
    order: 0;

    @include mixins.breakpoint(md) {
      order: 1;
    }
  }
}
