@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__icon {
    width: 1.5rem;
    display: flex;

    @include mixins.breakpoint(md) {
      //   width: 12%;
    }
  }

  &__title {
    color: colors.$gray;
  }
}
