@use "styles/abstracts/mixins";
@use "styles/abstracts/variables";
@use "styles/abstracts/variables/colors";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--container-padding);
  z-index: 99;
}

.navigation {
  position: fixed;
  transition: all 0.3s;
  width: 100%;
  backdrop-filter: blur(20px);

  &.scrolled {
  }

  &__logoWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__span {
    display: none;
    font-weight: 700;

    @include mixins.breakpoint(md) {
      display: flex;
    }
  }
}
