@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.footer {
  &__container {
    padding-top: 5rem;
    padding-bottom: 2rem;

    @include mixins.breakpoint(md) {
      padding-bottom: 5rem;
    }
  }

  &__row {
    row-gap: 8rem;
    grid-template:
      "info "
      "social";

    @include mixins.breakpoint(md) {
      row-gap: 0;
      grid-template:
        "info  social" auto
        "info  .     " 0.75rem;
    }
  }

  &__info {
    display: grid;
    grid-area: info;
    grid-template:
      "title " 0.5fr
      "links " auto;
    grid-gap: 1.5rem;
  }

  &__title {
    grid-area: title;
    font-weight: 500;
  }

  &__links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixins.breakpoint(md) {
      font-size: calc(34px + 6 * ((100vw - 20px) / 1000));
    }
  }

  &__link {
    font-size: calc(22px + 6 * ((100vw - 20px) / 1000));
    font-weight: 600;
    color: colors.$white;
    transition: color 0.5s ease;

    &:hover {
      color: colors.$brightGreen;
    }

    @include mixins.breakpoint(md) {
      font-size: calc(34px + 6 * ((100vw - 20px) / 1000));
    }
  }

  &__social {
    display: grid;
    grid-gap: 2rem;
    grid-area: social;
  }

  &__socialLinks {
    display: flex;
    justify-self: flex-start;
    gap: 1.5rem;
    font-weight: 700;
    color: colors.$gray;

    @include mixins.breakpoint(md) {
      justify-self: flex-end;
    }
  }

  &__socialItem {
    transition: color 0.5s ease;
    &:hover {
      color: colors.$white;
    }
  }

  &__copyright {
    justify-self: flex-start;
    align-self: flex-end;
    line-height: 1;

    @include mixins.breakpoint(md) {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}
