@use "styles/abstracts/mixins";
@use "styles/abstracts/variables";
@use "styles/abstracts/variables/colors";

.logo {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: colors.$lightGray;
      width: 2.5rem;
    }
  }
}
