@use "styles/abstracts/mixins";
@use "styles/abstracts/variables/colors";

.navigationList {
  display: none;
  list-style-type: none;

  @include mixins.breakpoint(lg) {
    display: block;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__item {
    font-weight: 500;
    transition: color 0.5s ease;
    text-transform: capitalize;

    &:hover {
      color: colors.$white;
    }
  }
}

.secondary {
  @include mixins.breakpoint(lg) {
    background-color: colors.$brightGreen;
    color: colors.$black;
    padding: 0.5rem 1.3rem;
    border-radius: 20px;
    border: 1px solid colors.$darkGray;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: colors.$darkerGreen;
    }
  }
}
